lab1/genre.dtd

<!ELEMENT moviecontent (movielist, genredescription, contact)>
<!ELEMENT movielist (film+)>
	<!ELEMENT film (title, regi, runtime, age, starttime)>
			<!ELEMENT title (#PCDATA)>
			<!ATTLIST title url CDATA #REQUIRED>
            <!ELEMENT regi (#PCDATA)>
			<!ATTLIST regi url CDATA #REQUIRED>
		<!ELEMENT runtime (#PCDATA)>
		<!ELEMENT age (#PCDATA)>
		<!ELEMENT starttime (#PCDATA)>
<!ELEMENT genredescription (#PCDATA)>
<!ELEMENT contact EMPTY> 
	<!ATTLIST contact url CDATA #REQUIRED>
